/* ฟอนแนวตั้ง eng*/
.font1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-style: normal;
  }
/* ชื่อหัว */
.name1 {
    text-transform: uppercase;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 11px;

}
/* ชื่อแนวตั้ง */
.name2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 90px;
    letter-spacing: 7px;
}
/* สีหัว สีแถบซ้าย */
.backg {
    background-color:#7B5CA3;
}
/* สีเนื้อหา */
.backg1 {
    background-color:#FF4229;
    
}


/* สีฟอตหัวและแถบซ้าย */
.font2 {
    color: #FFFBFF;

}

/* ระยะห่างฟอน */


/* ฟอนแถบสีม่วง */
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;

    font-style: italic;
  }
  
/* ฟอนไทย */
.k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* ฟอนไทยแนตั้งขนาด 600 */
.k2d-regular11 {
    font-family: "K2D", sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* ฟอนอังกฤษในเรื่อง */
.righteous-regular12 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.container {
    background-color: #ffffff;
}

body {
    background: linear-gradient( #2E2655, #7B5CA3,#954C8A,#FF4229,#4E2A22) !important;
    animation: color 5s ease-in-out infinite;
}
/* ฟอนแมตต์ตี้ */
.k2d-regular15 {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.k2d-regular17 {
        font-family: "K2D", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: x-large;
    }

.accordion {
    --bs-accordion-btn-bg: #ffffff !important;
    --bs-accordion-active-bg: #a682d6e3 !important;
    --bs-accordion-active-color: #ffffff !important;
    --bs-accordion-btn-focus-box-shadow: #7B5CA3 !important ;

}

.carousel {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

.underline {
   color: black;
   text-decoration: underline;
}
